# Imp
DISCORD_TOKEN=''
BOT_NAME=''

# if your lavalink has secure enabled then do https rather than http :D
LAVALINK_URI='http://' # uri of lavalink
LAVALINK_PASSWORD='' # password to access lavalink
